html{
    background: $secondary-background-color;
    height: 100%;
    width: 100%;
    color:$main-font-color;
    font-family: nunito;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0;
}
body{
    font-size: 16px;
    margin:0;
    overflow-x: hidden;
}